page {
  background: #fdfdff;
}
.user {
  flex-direction: column;
  width: 100%;
}

.me {
  .avatar {
    display: flex;
    align-items: center;
    padding: 30rpx;
    font-size: 28rpx;
    .at-avatar {
    }
    .name {
      margin-left: 15rpx;
      flex: 1;
      font-size: 36rpx;
    }
  }
}
.statistics {
  display: flex;
  justify-content: space-between;
  padding: 20rpx 80rpx;
  margin-bottom: 20rpx;
  view {
    display: flex;
    flex-direction: column;
    align-items: center;
    .count {
      font-size: 46rpx;
      color: #4a4a6a;
    }
    .des {
      font-size: 28rpx;
      color: #999;
    }
  }
}

.function {
  .function-title {
    font-size: 32rpx;
    line-height: 1.5;
    padding-left: 30rpx;
  }
  .function-card {
    border-radius: 30rpx;
    background: #fff;
    box-shadow: 0 0 10rpx 0 rgba(0,0,0,0.5);
    margin-bottom: 20rpx;
  }
}