.user {
  flex-direction: column;
  width: 100%;
}

.me {
  .avatar {
    display: flex;
    align-items: center;
    padding: 30rpx;
    font-size: 28rpx;
    .at-avatar {
    }
    .name {
      margin-left: 15rpx;
      flex: 1;
      font-size: 36rpx;
    }
  }
}

.function {
  .function-title {
    font-size: 32rpx;
    line-height: 1.5;
    padding-left: 30rpx;
  }
  .function-card {
    border-radius: 30rpx;
    background: #fff;
    box-shadow: 0 0 10rpx 0 rgba(0,0,0,0.5);
    margin-bottom: 20rpx;
  }
}